<!DOCTYPE html>
<html lang="en">
  <head>
		<title>Deaths in Custody</title>

			<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>

    <body>
    	<header class="whelp">
    		<div class="container">
          	<h1 class="site-title">This is a <a href='/'>database</a> of {{inmate_count}} inmate deaths in California.</h1>
            
            <h1 class="summary">Read more at the <a href="http://www.latimes.com/local/political/la-me-inmate-killed-third-prison-riot-20150819-story.html">Los Angeles Times,</a>
            <a href="https://www.vice.com/read/how-many-people-die-in-police-custody-in-america-265">Vice,</a>
            <a href="http://www.sfgate.com/bayarea/article/Family-of-Alameda-County-inmate-who-died-in-6849015.php">SFGate.</a>
            </h1>
        	</div>
      </header>

      <section class="container sec">
      <br>
        <h1>About <strong>Deaths in Custody</strong></h1>

        <div class="about">
          <section id="data">
          <h2>Data</h2>
          <p>

            My data comes from the
            <a href="http://www.bjs.gov/index.cfm?ty=tp&tid=19">Deaths in Custody Reporting Program</a>
            , a program within the Bureau of Justice that collects data on deaths that occur during the arrest process or while inmates are in the custody of local jails or state prisons. However, the BJS does not publish their findings to the public.</p>
            </p>I found the data through 
            <a href="https://www.muckrock.com/foi/california-52/california-12525-data-17354/">a MuckRock request</a>
            filed by Dave Maass with the Department of Justice in California, thanks to Dan Nguyen's 
            <a href="http://blog.danwin.com/interesting-muckrocks/">explainer</a> on how to filter by completed MuckRock requests.
          </p>
          <p>As far as data manipulation, the keys to the codes for 'custody_offense' and 'agency_name' came from seperate spreadsheets in the same MuckRequest, which I joined to the main dataset. I added variables for "birthdate" and "age" so that users could sort by youngest or oldest inmate.</p>
          <br>
          <p><i>Original response from CA Attorney General, Kamala Harris, below:</i></p>
          <iframe src="https://www.muckrock.com/foi/file/40439/embed/" width="100%" height="600px"></iframe>
          <br>
          </section>
          <br>

          <section id="limitations">
            <h2>Limitations</h2>
            <p>Since this app is based off a one-time FOIA request, the data has not updated since it was requested in April 2015. Data is for 2013 only.</p>
            <p>
            I'd originally hoped to run analysis on death rates by days in custody, but the Bureau of Justice either doesn't keep track of days in custody or didn't release that data along with this particular request. Plus, there's no easy way to correlate inmate names with arrest records, so I ended up letting that one go.
            </p>
          </section>

          <section id="tech">
            <h2>Technical Stack</h2>
            <p>
            Data cleaning and analysis was done in 
            <a href="https://www.python.org/">Python</a>, with help from the 
            <a href="http://pandas.pydata.org/">Pandas</a>
            library. The web app is powered by 
            <a href="http://flask.pocoo.org/">Flask</a>. The charts are generated using 
            <a href="http://www.highcharts.com/">Highcharts</a>, with help, as always, from Dan.
            </p>
          </section>

        </div>
  </section>



{% include 'footer.html' %}


</body>

</html>

