<select id="county-dropdown" onchange="goto_county(this.value)">
  <option>Select County</option>
  <option value="Alpine">Alpine</option>
  <option value="Amador">Amador</option>
  <option value="Butte">Butte</option>
  <option value="Calaveras">Calaveras</option>
  <option value="Colusa">Colusa</option>
  <option value="Contra Costa">Contra Costa</option>
  <option value="Del Norte">Del Norte</option>
  <option value="El Dorado">El Dorado</option>
  <option value="Fresno">Fresno</option>
  <option value="Glenn">Glenn</option>
  <option value="Humbolt">Humbolt</option>
  <option value="Imperial">Imperial</option>
  <option value="Inyo">Inyo</option>
  <option value="Kern">Kern</option>
  <option value="Kings">Kings</option>
  <option value="Lake">Lake</option>
  <option value="Lassen">Lassen</option>
  <option value="Los Angeles">Los Angeles</option>
  <option value="Madera">Madera</option>
  <option value="Marin">Marin</option>
  <option value="Mariposa">Mariposa</option>
  <option value="Mendocino">Mendocino</option>
  <option value="Merced">Merced</option>
  <option value="Modoc">Modoc</option>
  <option value="Mono">Mono</option>
  <option value="Monterey">Monterey</option>
  <option value="Napa">Napa</option>
  <option value="Nevada">Nevada</option>
  <option value="Orange">Orange</option>
  <option value="Placer">Placer</option>
  <option value="Plumas">Plumas</option>
  <option value="Riverside">Riverside</option>
  <option value="Sacramento">Sacramento</option>
  <option value="San Benito">San Benito</option>
  <option value="San Bernadino">San Bernadino</option>
  <option value="San Diego">San Diego</option>
  <option value="San Francisco">San Francisco</option>
  <option value="San Joaquin">San Joaquin</option>
  <option value="San Luis Obispo">San Luis Obispo</option>
  <option value="San Mateo">San Mateo</option>
  <option value="Santa Barbara">Santa Barbara</option>
  <option value="Santa Clara">Santa Clara</option>
  <option value="Santa Cruz">Santa Cruz</option>
  <option value="Shasta">Shasta</option>
  <option value="Sierra">Sierra</option>
  <option value="Siskiyou">Siskiyou</option>
  <option value="Solano">Solano</option>
  <option value="Sonoma">Sonoma</option>
  <option value="Stanislaus">Stanislaus</option>
  <option value="Sutter">Sutter</option>
  <option value="Tehama">Tehama</option>
  <option value="Trinity">Trinity</option>
  <option value="Tulare">Tulare</option>
  <option value="Tuolumne">Tuolumne</option>
  <option value="Ventura">Ventura</option>
  <option value="Yolo">Yolo</option>
  <option value="Yuba">Yuba</option>
</select>


<script>
  function goto_county(county_name){
    console.log(county_name);
    window.location.href = "/county/" + county_name;
  }
</script>
