<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Deaths in Custody</title>
			<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    </head>

    <body>
    	<header class="whelp">
    		<div class="container">
          		<h1 class="site-title">The <a href='/'>{{inmate_count}} inmate deaths</a> in California for 2013, according to the state Department of Justice.</h1>
         		<h1 class="summary">Read more at the <a href="http://www.latimes.com/local/political/la-me-inmate-killed-third-prison-riot-20150819-story.html">Los Angeles Times</a></h1>
        	</div>
      	</header>

      <br>

      <h1>{{ inmates | count }} inmates died in California in 2013:</h1>
      
      <div class="container">
      <div id="deaths-by-county"></div>
      </div>

      <br>
          <table class="table table-condensed table-bordered table-striped">
          <thead>
              <tr>
                  <th>County</th>
                  <th>Inmate deaths</th>
              </tr>
          </thead>
          <tbody>
                  {% for obj in major_counties %}
              <tr>
                  <td class="name"><a href="./county/{{obj[0]}}">{{ obj[0] }}</a></td>
                  <td class="num">{{ obj[1] }}</td>
              </tr>
              {% endfor %}
          </tbody>
          </table>



    {% include 'footer.html' %}


        <script>
            $(function () {
                //notice how my-fun-chart is used in the id for the target element
                $('#deaths-by-county').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Inmate Deaths By County (top {{ major_counties | count }} of {{ countydeaths | count }})'
                    },
                    xAxis: {
                        title: {
                            text: 'County'
                        },
                        type: 'category',
                        labels: {
                            rotation: -45,
                            style: {
                                fontSize: '13px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Number of inmates'
                        }
                    },
                    legend: {
                        enabled: false
                    },

                    series: [{
                        name: 'Counties',
                        data:  {{ major_counties | tojson }},
                        dataLabels: {
                            enabled: true,
                            rotation: -90,
                            color: '#FFFFFF',
                            align: 'right',
                            format: '{point.y:.1f}', // one decimal
                            y: 10, // 10 pixels down from the top
                            style: {
                                fontSize: '13px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    }]
                });
            });
        </script>

    </body>
</html>
