<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Deaths in Custody</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

			<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>

<!-- begin header -->
    <body>
    	<header class="whelp">
    		<div class="container">
          		<h1 class="site-title">This is a database the {{inmate_count}} inmate deaths in California.</h1>
         		<h1 class="summary">Read more at the <a href="http://www.latimes.com/local/political/la-me-inmate-killed-third-prison-riot-20150819-story.html">Los Angeles Times</a></h1>
        	</div>
      	</header>

<!-- searchbox -->
      <div class="searchbox"> 
          <h1 class="site-title">Search for an incident:</h1>
            {% include 'searchbox.html' %}
      </div>

<br>
<br>

<!-- add list of counties -->
      <div class="countylist">
        {% include 'countylist.html' %}
        <hr class="clearing" />
      </div>

<!-- add quick facts -->
      <div class="quickfacts">
        <h3>Quick facts:</h3>
        {% include 'quickfacts.html' %}
        <hr class="clearing" />
      </div>


<!-- footer -->
      <footer class="whelp">
          <p>Data comes from the <a href="http://www.bjs.gov/index.cfm?ty=dcdetail&iid=243">Bureau of Justice</a></p>

    	</footer>
 
	</body>
</html>