<!DOCTYPE html>
<html lang="en">
  <head>
		<title>Deaths in Custody</title>

			<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>

    <body>
    	<header class="whelp">
    		<div class="container">
          	<h1 class="site-title">This is a database of {{inmate_count}} inmate deaths in California.</h1>
         		<h1 class="summary">Read more at the <a href="http://www.latimes.com/local/political/la-me-inmate-killed-third-prison-riot-20150819-story.html">Los Angeles Times,</a>
            <a href="https://www.vice.com/read/how-many-people-die-in-police-custody-in-america-265">Vice,</a>
            <a href="http://www.sfgate.com/bayarea/article/Family-of-Alameda-County-inmate-who-died-in-6849015.php">SFGate.</a>
            </h1>
        	</div>
      	</header>


<!-- searchbox -->

<section class="sec">
  <div class="searchbox">
      <h1><strong>Search for an inmate:</strong></h1>
              {% include 'searchbox.html' %}

      <h3>Or, select a county:</h3>
      {% include 'countylist.html' %}

  </div>
</section>

  <section id="quickfacts" class="sec">
    <div class="container">
        <h3><strong>Quick facts</strong></h3>
        {% include 'quickfacts.html' %}
    </div>
  </section>



{% include 'footer.html' %}
</body>


</html>
