<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Deaths in Custody</title>

			<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>

    <body>
    	<header class="whelp">
    		<div class="container">
          		<h1 class="site-title">This is a database the {{inmate_count}} inmate deaths in California.</h1>
         		<h1 class="summary">Read more at the <a href="http://www.latimes.com/local/political/la-me-inmate-killed-third-prison-riot-20150819-story.html">Los Angeles Times</a></h1>
        	</div>
      	</header>

        <div>
        <h2>Quick facts:</h1>

        <h3>Most common manner of death</h3>
        <ul>
          {% for thing in top_manners %}

            <li>{{ thing[0] }} : {{ thing[1] }}</li>

          {% endfor %}

        </ul>

        <h3>Deaths by county</h3>
        <ul>
          {% for thing in top_counties %}

            <li>{{ thing[0] }} : {{ thing[1] }}</li>

          {% endfor %}

        </ul>

        <h3>Deaths by institution</h3>
        <ul>
          {% for thing in top_locations %}

            <li>{{ thing[0] }} : {{ thing[1] }}</li>

          {% endfor %}

        </ul>

        </div>

{% include 'countylist.html' %}

    	<div class="searchbox"> 
      		<h1 class="site-title">Search for an incident:</h1>
       			{% include 'searchbox.html' %}
      </div>

      <footer class="whelp">
          <p>Data comes from <a href="http://www.bjs.gov/index.cfm?ty=dcdetail&iid=243">the Bureau of Justice</a></p>

    	</footer>
 
	</body>
</html>