
<div class="row">
  <div class="col-sm-4">
      <h4><a href="./counties/">Top counties:</a></h4>
      <table class="table">
        {% for thing in top_counties %}
          <tr>
            <td class="name">{{ thing[0] }}</td>
            <td class="num">{{ thing[1] }}</td>
          </tr>
        {% endfor %}
      </table>

  </div>
  <div class="col-sm-4">
    <h4><a href="./results/?partial_name=&sortby=youngest&county=ALL">Top cause of death:</a>></h4>
    <table class="table">
      {% for thing in top_manners %}
          <tr>
            <td class="name">{{ thing[0] }}</td>
            <td class="num">{{ thing[1] }}</td>
          </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-sm-4">
    <h4><a href="./institutions/">Top angencies:</a></h4>
    <table class="table">
      {% for thing in top_locations %}
          <tr>
            <td class="name">{{ thing[0] }}</td>
            <td class="num">{{ thing[1] }}</td>
          </tr>
      {% endfor %}
    </table>
  </div>
</div>
