<form action="{{url_for('results')}}" method="get">

<div id="one">
<h4>Deaths by county:</h4>
<ul>
  {% for thing in top_counties %}
  <li>{{ thing[0] }}: {{ thing[1] }}</li>
  {% endfor %}
</ul>
</div> 

<div id="two">
<h4>Most common manner of death:</h4>
<ul>
  {% for thing in top_manners %}
  <li>{{ thing[0] }}: {{ thing[1] }}</li>
  {% endfor %}
</ul>
</div> 

<div id="three">
<h4>Deaths by institution:</h4>
<ul>
  {% for thing in top_locations %}
  <li>{{ thing[0] }}: {{ thing[1] }}</li>
  {% endfor %}
</ul>
</div>